<header>
    <div class="header">
        <div>
            <nav>
                <div class="header__nav">
                    <div class="header__left link-underlined">
                        <ul>
                            {{#if isHome}}
                                <li class="active"><a href="/">HOME</a></li>
                            {{else}}
                                <li><a href="/">HOME</a></li>
                            {{/if}}

                            {{#if isShop}}
                                <li class="active"><a href="/shop">SHOP</a></li>
                            {{else}}
                                <li><a href="/shop">SHOP</a></li>
                            {{/if}}

                            {{#if isInfo}}
                                <li class="active"><a href="/info">INFO</a></li>
                            {{else}}
                                <li><a href="/info">INFO</a></li>
                            {{/if}}
                        </ul>
                    </div>
                    <div class="header__right link-underlined">
                        <ul>
                            {{#if @root.isAdmin}}
                                {{#if isAdd}}
                                    <li class="active"><a href="/add">ADD ITEM</a></li>
                                {{else}}
                                    <li><a href="/add">ADD ITEM</a></li>
                                {{/if}}
                            {{/if}}
                            {{#if @root.isAdmin}}
                                {{#if isOrders}}
                                    <li class="active"><a href="/orders">ALL ORDERS</a></li>
                                {{else}}
                                    <li><a href="/orders">ALL ORDERS</a></li>
                                {{/if}}
                            {{/if}}

                            {{#if isAuth}}

                                {{#if isProfile}}
                                    <li class="active"><a href="/profile">PROFILE</a></li>
                                {{else}}
                                    <li><a href="/profile">PROFILE</a></li>
                                {{/if}}

                                {{#if isCart}}
                                    <li class="active"><a href="/cart">CART</a></li>
                                {{else}}
                                    <li><a href="/cart">CART</a></li>
                                {{/if}}

                                <li><a href="/auth/logout">SIGN OUT</a></li>
                            {{else}}
                                {{#if isLogin}}
                                    <li class="active popup-link"><a href="/auth/login">SIGN IN / REGISTRATION</a></li>
                                {{else}}
                                    <li><a href="/auth/login">SIGN IN / REGISTRATION</a></li>
                                {{/if}}
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="header__center">
            <a href="/">
                <img src="../../images/icons/index.png" alt="Logo">
            </a>
        </div>
    </div>
</header>

