<div id="shop-navbar" class="shop-header">
    <nav>
        <div class="shop-header__nav">
            <div class="shop-header__left link-underlined">
                <ul>
                    {{#if isAllProducts}}
                        <li class="active">
                            <a href="/shop">Все товары</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/shop">Все товары</a>
                        </li>
                    {{/if}}

                    {{#if isIndie}}
                        <li class="active">
                            <a href="/shop/genre/indie">INDIE/ALTERNATIVE</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/shop/genre/indie">INDIE/ALTERNATIVE</a>
                        </li>
                    {{/if}}

                    {{#if isPop}}
                        <li class="active">
                            <a href="/shop/genre/pop">POP</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/shop/genre/pop">POP</a>
                        </li>
                    {{/if}}

                    {{#if isHipHop}}
                        <li class="active">
                            <a href="/shop/genre/hiphop">HIP-HOP</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/shop/genre/hiphop">HIP-HOP</a>
                        </li>
                    {{/if}}

                    {{#if isJazz}}
                        <li class="active">
                            <a href="/shop/genre/jazz">JAZZ</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/shop/genre/jazz">JAZZ</a>
                        </li>
                    {{/if}}

                    {{#if isElectronic}}
                        <li class="active">
                            <a href="/shop/genre/electronic">ELECTRONIC/DANCE</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/shop/genre/electronic">ELECTRONIC/DANCE</a>
                        </li>
                    {{/if}}

                    {{#if isEmo}}
                        <li class="active">
                            <a href="/shop/genre/emo">EMO/POP-PUNK</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/shop/genre/emo">EMO/POP-PUNK</a>
                        </li>
                    {{/if}}

                    {{#if isMetal}}
                        <li class="active">
                            <a href="/shop/genre/metal">METAL</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/shop/genre/metal">METAL</a>
                        </li>
                    {{/if}}

                    {{#if isDeath}}
                        <li class="active">
                            <a href="/shop/genre/death">BLACK/DEATH METAL</a>
                        </li>
                    {{else}}
                        <li>
                            <a href="/shop/genre/death">BLACK/DEATH METAL</a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</div>
