<div id="shop-navbar" class="shop-header">
    <nav>
        <div class="shop-header__nav">
            <div class="shop-header__left link-underlined">
                <ul>
                    {{#if isAllProducts}}
                        <li class="active">
                            <button class="js-load-items"  data-id="allProducts">Все товары</button>
                        </li>
                    {{else}}
                        <li>
                            <button class="js-load-items"  data-id="allProducts">Все товары</button>
                        </li>
                    {{/if}}

                    {{#if isSnakes}}
                        <li class="active">
                            <button class="js-load-items" data-id="indie">INDIE/ALTERNATIVE</button>
                        </li>
                    {{else}}
                        <li>
                            <button class="js-load-items" data-id="indie">INDIE/ALTERNATIVE</button>
                        </li>
                    {{/if}}

                    {{#if isLizards}}
                        <li class="active">
                            <button class="js-load-items" data-id="pop">POP</button>
                        </li>
                    {{else}}
                        <li>
                            <button class="js-load-items" data-id="pop">POP</button>
                        </li>
                    {{/if}}

                    {{#if isEublefar}}
                        <li class="active">
                            <button class="js-load-items" data-id="hipHop">HIP-HOP</button>
                        </li>
                    {{else}}
                        <li>
                            <button class="js-load-items" data-id="hipHop">HIP-HOP</button>
                        </li>
                    {{/if}}

                    {{#if isSpider}}
                        <li class="active">
                            <button class="js-load-items" data-id="jazz">JAZZ</button>
                        </li>
                    {{else}}
                        <li>
                            <button class="js-load-items" data-id="jazz">JAZZ</button>
                        </li>
                    {{/if}}

                    {{#if isAmphibian}}
                        <li class="active">
                            <button class="js-load-items" data-id="emo">EMO/POP-PUNK</button>
                        </li>
                    {{else}}
                        <li>
                            <button class="js-load-items" data-id="emo">EMO/POP-PUNK</button>
                        </li>
                    {{/if}}

                    {{#if isTurtle}}
                        <li class="active">
                            <button class="js-load-items" data-id="metal">METAL</button>
                        </li>
                    {{else}}
                        <li>
                            <button class="js-load-items" data-id="metal">METAL</button>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</div>
