<div class="add-edit">
    <h1>Add</h1>
    {{#if error}}
        <p class="alert">{{error}}</p>
    {{/if}}

    <form action="/add" method="post" enctype="multipart/form-data">
        <div class="add-edit__rows">
            <div>
                <div class="input-field">
                    <div class="input-field__control">
                        <label for="title" class="input-field__label">Title</label>
                        <input id="title" name="title" type="text" class="validate input-field__input" required value="{{data.title}}">
                        <span class="helper-text" data-error="Enter title"></span>
                    </div>
                </div>

                <div class="input-field">
                    <div class="input-field__control">
                        <label for="price" class="input-field__label">Price</label>
                        <input id="price" name="price" type="number" class="validate input-field__input" required min="1" value="{{data.price}}">
                        <span class="helper-text" data-error="Enter price"></span>
                    </div>
                </div>

                <div class="file-field input-field">
                    <div class="btn">
                        <span>Фото</span>
                        <input type="file" name="article">
                    </div>
                </div>
            </div>

            <div>
                <div class="input-field">
                    <div class="input-field__control">
                        <label for="quantity" class="input-field__label">Quantity available</label>
                        <input id="quantity" name="quantity" type="text" class="validate input-field__input" required value="{{data.quantity}}">
                        <span class="helper-text" data-error="Enter quantity"></span>
                    </div>
                </div>

                <div class="input-field">
                    <div class="input-field__control">
                        <label for="description" class="input-field__label">Enter additional description</label>
                        <textarea id="description" name="description" class="input-field__textarea">{{data.description}}</textarea>
                        <span class="helper-text" data-error="Enter additional description"></span>
                    </div>
                </div>

                <input type="hidden" name="email" value="{{user.email}}">
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button type="submit" class="btn btn-primary">Add an item to the shop</button>
            </div>
        </div>
    </form>
</div>




