<div class="cart">
    <h1>Cart</h1>
    <div id="cart" class="cart__info">
        {{#if articles.length}}
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {{#each articles}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{count}}</td>
                        <td>
                            <button class="btn js-remove" data-id="{{_id}}" data-csrf="{{@root.csrf}}">Remove</button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

            <div class="cart__info__footer">
                <p><strong>Price: </strong><span class="price">{{price}}</span></p>
                <form action="/orders" method="post">
                    <input type="hidden" name="_csrf" value="{{csrf}}">
                    <button type="submit" class="btn">Make order</button>
                </form>
            </div>

        {{else}}
            <p>Cart is empty</p>
        {{/if}}
    </div>
</div>


