<div class="orders orders__all">
    <h1>Все заказы пользователей</h1>

    {{#if orders.length}}
        {{#each orders}}
            <div class="orders__one">
                <hr>
                <p><strong>Заказ № </strong><small>{{_id}}</small></p>
                <p><strong>Дата: </strong><span class="date">{{date}}</span></p>
                <p><strong>Покупатель: </strong><em>{{user.name}} – </em>({{user.userId.email}})</p>
                <ol>
                    {{#each articles}}
                        <li>
                            {{article.title}} (x <strong>{{count}}</strong>)
                        </li>
                    {{/each}}
                </ol>
                <p><strong>Цена: </strong><span class="price">{{price}}</span></p>
            </div>
        {{/each}}
    {{else}}
        <p>Заказов нет</p>
    {{/if}}
</div>

