<div class="shop" id="shop">
        {{#if articles.length}}
                {{#each articles}}
                    <div class="shop__card-link">
                        <a href="/shop/{{_id}}">
                            <div>
                                <div class="shop__card">
                                    <div>
                                        <img src="/{{img}}" alt="{{title}}">
                                    </div>
                                    <div class="shop__card__description">
                                        <span>{{title}}</span>
                                        <p class="price">{{price}}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {{/each}}
        {{else}}
            <p>The shop is empty</p>
        {{/if}}
</div>
