<div class="vinyl-instance">
    <h2>{{vinyl.title}}</h2>
    <div class="vinyl-instance__info">
        <div>
            <div class="vinyl-instance__image">
                <img src="/{{vinyl.img}}" alt="img-{{vinyl.title}}">
                {{#if @root.isAdmin}}
                    <a href="/shop/{{vinyl._id}}/edit?allow=true">Редактировать</a>
                {{/if}}
            </div>
        </div>
        <div>
            <div class="vinyl-instance__description">
                <p><strong>Формат: </strong>{{vinyl.format}}</p>
                <p><strong>Лейбл: </strong>{{vinyl.label}}</p>
                <p><strong>Жанр: </strong>{{vinyl.genre}}</p>
                <p><strong>Исполнитель: </strong>{{vinyl.musician}}</p>
                <p><strong>Дата релиза: </strong>{{vinyl.release_date}}</p>
                <p><strong>Доп описание: </strong>{{vinyl.description}}</p>

                {{#if @root.isAuth}}
                    <form action="/cart/add" method="POST">
                        <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                        <input type="hidden" name="id" value="{{vinyl._id}}">
                        <button type="submit" class="btn btn-primary">В корзину</button>
                    </form>
                {{/if}}
                <p class="price big">{{vinyl.price}}</p>
            </div>
        </div>
    </div>
</div>


