<div class="row card-animal-description">
    <h3>{{vinyl.title}}</h3>
    <div class="vinyl_shop_one">
        <div class="col s6">
                <div class="animal">
                    <img src="/{{vinyl.img}}" alt="img-{{vinyl.title}}">
                    {{#if @root.isAdmin}}
                        <a href="/shop/{{vinyl._id}}/edit?allow=true">Редактировать</a>
                    {{/if}}
                </div>
        </div>
        <div class="col s6">
            <div class="description">
                <p>Формат: {{vinyl.format}}</p>
                <p>Лейбл: {{vinyl.label}}</p>
                <p>Жанр: {{vinyl.genre}}</p>
                <p>Исполнитель: {{vinyl.musician}}</p>
                <p>Дата релиза: {{vinyl.release_date}}</p>
                <p>Описание: {{vinyl.description}}</p>

                {{#if @root.isAuth}}
                    <form action="/cart/add" method="POST">
                        <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                        <input type="hidden" name="id" value="{{vinyl._id}}">
                        <button type="submit" class="btn btn-primary">В корзину</button>
                    </form>
                {{/if}}
                <p class="price big">{{vinyl.price}}</p>
            </div>
        </div>
    </div>
</div>


